
/********** cambia el color del fondo segun el tamaño de la pantalla  ********/
/*@media screen and (min-width: 480px)

{
	body {
		background: navy;
		}
}

@media screen and (min-width: 660px)
{
	body {
		background: lightblue;
		}
} */

@media screen and (min-width: 480px)
/******** layout de 2 columnas *****************/
{
	#primary { width: 50%;
		float: left;
	}

	#secondary { width: 40%;
		float: right;
	}

}
#galeria li { width: 28.3333%;	

}

#galeria li:nth-child(3n+1) {clear: left;
}
/***** para poner dos columnas imagen a un lado y texto al otro en la pagina about **********/
.profile-photo { float: left;
				margin: 0 5% 120px 0;	}


/****navegacion********/
/******** ajustamos un poco la navegacion para nuestro sitios en pantalla mayores a 660px, se mueve el menu a la derecha ****************/
@media screen and (min-width: 660px)
nav { 
	background: none;
	float: right;
	font-size: 1.125em;
	margin-right: 5%;
	text-align: right;
	width: 45%;
	}

#logo { float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%; }

h1{ font-size: 1.5em;}
h2{ font-size: 0.825em;
	margin-bottom: 20px;}

header { border-bottom: 5px solid #599a68;
		margin-bottom: 60px;
		}